/* Variables */
:root {
    --background-veil: #0d002c1a;
    --primary-color: #11003e34;
    --secondary-color: #01002167;
    --tertiary-color: #030050;
    --quaternary-color: #fff;

    --logo: url('images/logo-test-1.png');
    --hover-logo: url('images/logo-hover-test-1.png');
    --exp-logo: url('images/exp.png');
    --exp-logo-hover: url('images/exp-hover.png');
    --diploma-logo: url('images/form.png');
    --diploma-logo-hover: url('images/form-hover.png');

    /* Ajout de variables pour gérer les tailles de police */
    --font-size-small: 12px;
    --font-size-base: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
}

body {
    background-color: #B5CCFF;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 300;
    height: 100%;
    font-size: var(--font-size-base);
    color: var(--quaternary-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 73vh;
}

/* Paragraphe et titres */
p {
    font-size: var(--font-size-base);
    margin: 0;
}
p:hover {
    color: var(--tertiary-color);
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--quaternary-color);
}
h1 {
    font-size: var(--font-size-large);
}
h2 {
    font-size: var(--font-size-medium);
}
h2:hover, h3:hover, h4:hover {
    color: var(--tertiary-color);
}

/* Background vidéo */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
#videobackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-veil);
}

/* Header et Navbar */
.container {
    width: 800px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.logo {
    float: left;
    padding: 7px 2px;
    margin: 10px 0;
    width: 100px;
    height: 20px;
    background-image: var(--logo);
    background-size: cover;
}
.logo:hover {
    background-image: var(--hover-logo);
}

nav {
    float: right;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 17px;
    position: relative;
}

nav ul > li > a {
    color: var(--quaternary-color);
    text-decoration: none;
    font-size: var(--font-size-base);
}
nav ul > li > a:hover {
    color: var(--tertiary-color);
    font-weight: bold;
}
nav ul > li > a::before {
    content: '';
    display: block;
    height: 3px;
    border-radius: 2px;
    width: 0%;
    background-color: var(--tertiary-color);
    position: absolute;
    top: 0;
    transition: all ease-in-out 270ms;
}
nav ul > li > a:hover::before {
    width: 100%;
}
nav ul > li > a.active {
    padding: 5px;
    border-radius: 20px;
    background: var(--tertiary-color);
    transition: all ease-in-out 270ms;
}

/* Banner avatar */
.profile {
    width: 800px;
    margin: 25px auto;
    padding: 30px 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-color: var(--primary-color);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid #00000008;
    transition: all ease-in-out 1000ms;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 3px solid var(--quaternary-color);
    border-radius: 100px;
    overflow: hidden;
}
.avatar:hover {
    border: 3px solid var(--tertiary-color);
}
.avatar img {
    width: 100%;
    height: auto;
    display: block;
}

.name {
    margin: 6px;
}
.name:hover {
    color: var(--tertiary-color);
}
.jobtitle {
    margin: 5px;
    font-size: var(--font-size-base);
}

.sociallink ul {
    margin: 12px;
    padding: 0;
}
.sociallink ul > li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}
.sociallink ul > li > a > i {
    font-size: 18px;
    color: var(--quaternary-color);
}
.sociallink ul > li > a > i:hover {
    color: var(--tertiary-color);
}

.headerbuttons {
    margin-top: 15px;
}
.headerbuttons > a > button {
    font-size: var(--font-size-small);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}
.downloadbutton {
    color: var(--quaternary-color);
    background-color: transparent;
    border: 2px solid var(--quaternary-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.downloadbutton:hover {
    background-color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
    transition: all ease-in-out 270ms;
}
.hirebutton {
    color: var(--tertiary-color);
    background-color: var(--quaternary-color);
    border: 2px solid var(--tertiary-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.hirebutton:hover {
    color: var(--quaternary-color);
    background-color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
    transition: all ease-in-out 270ms;
}

/* Sections générales */
.propos, .competences, .experiences, .formations, .contact {
    width: 800px;
    margin: 25px auto;
    padding: 30px 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-color: var(--primary-color);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 300ms;
}
.profile:hover, .propos:hover, .competences:hover, .experiences:hover, 
.formations:hover, .contact:hover, header:hover, footer:hover {
    backdrop-filter: blur(30px);
    transition: all ease-in-out 300ms;
}

.row {
    margin-bottom: 20px;
}

/* À Propos */
.row-icon-list ul {
    list-style: none; /* supprime le tiret '-' */
    margin: 0;
    padding: 0;
}
.row-icon-list li {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}
.row-icon-list i {
    font-size: 20px;
    margin-right: 10px;
}
.titre-infos {
    font-weight: bold;
    margin-right: 20px;
    font-size: var(--font-size-medium);
}
.infos-coordonnees {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: var(--font-size-base);
    color: var(--quaternary-color);
}
.infos-coordonnees:hover {
    color: var(--tertiary-color);
}

/* Compétences */
.competences > .language-icon-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.language-icon-list {
    flex-basis: 50%;
}
.language-icon-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.language-icon-list li {
    width: 80px;
    text-align: center;
}
.language-icon {
    width: 40px;
    height: auto;
    margin-bottom: 5px;
}
.language-icon-title {
    font-size: var(--font-size-small);
    margin: 0;
}
.competences-list {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.competences-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.competences-list ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.competences-list ul li i {
    margin-right: 8px;
    font-size: 14px;
}
.liste-competences {
    font-size: var(--font-size-base);
    margin: 0;
}

/* Expériences et Formations */
.experiences ul, .formations ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.experiences ul li, .formations ul li {
    margin-bottom: 20px;
}
.job-date, .formation-date {
    font-size: var(--font-size-small);
    font-weight: bold;
    margin-bottom: 5px;
}
.job {
    font-size: var(--font-size-base);
    font-weight: bold;
    margin: 0;
}
.job-workplace {
    font-size: var(--font-size-small);
    margin: 0 0 5px;
}
.job-description {
    font-size: var(--font-size-small);
    margin: 0;
}
.exp-icon, .diploma-icon {
    width: 20px;
    height: 20px;
    margin: 5px 0;
    background-size: cover;
}
#expicon {
    background-image: var(--exp-logo);
}
#expicon:hover {
    background-image: var(--exp-logo-hover);
}
#diploma-icon {
    background-image: var(--diploma-logo);
}
#diploma-icon:hover {
    background-image: var(--diploma-logo-hover);
}

/* Contact */
.contact-form-section {
    display: flex;
}
.contact-form-section form {
    width: 40%;
}
.contact-form-section form ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-form-section form ul li {
    margin-bottom: 10px;
}
.contact-form-section form ul li input,
#message {
    padding: 8px;
    width: 100%;
    border-radius: 3px;
    border: 2px solid var(--quaternary-color);
    color: var(--quaternary-color);
    background-color: transparent;
    font-family: 'Ubuntu Mono', monospace;
    font-size: var(--font-size-base);
}
.contact-form-section form ul li input:hover,
#message:hover {
    border: 2px solid var(--tertiary-color);
}
.contact-form-section form ul li button {
    padding: 10px 15px;
    width: 100%;
    color: var(--tertiary-color);
    background-color: var(--quaternary-color);
    border: 2px solid var(--tertiary-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: var(--font-size-base);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
.contact-form-section form ul li button:hover {
    color: var(--quaternary-color);
    background-color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
    transition: all ease-in-out 270ms;
}
.google-map {
    margin: 0 0 10px 20px;
    height: 300px;
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
}

/* Footer */
footer {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    backdrop-filter: blur(10px);
    background-color: var(--primary-color);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.logo-container-footer {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.logo-footer {
    padding: 7px 2px;
    margin: 10px 0;
    width: 100px;
    height: 20px;
    background-image: var(--logo);
    background-size: cover;
    display: inline-block;
}
.logo-footer:hover {
    background-image: var(--hover-logo);
}
.sociallink-footer ul {
    list-style: none;
    margin: 0;
    padding: 0 10px 0 0;
}
.sociallink-footer ul > li {
    display: inline-block;
    margin: 0 5px 5px;
}
.sociallink-footer ul > li > a > i {
    font-size: 18px;
    color: var(--quaternary-color);
}
.sociallink-footer ul > li > a > i:hover {
    color: var(--tertiary-color);
}

/* Responsive Design */
@media (max-width: 800px) {
    .container,
    .profile,
    .propos,
    .competences,
    .experiences,
    .formations,
    .contact {
        width: 90%;
        padding: 20px;
        margin: 10px auto;
    }
    
    header, footer {
        width: 100%;
    }
    
    nav ul {
        display: block;
        text-align: center;
    }
    nav li {
        display: block;
        margin: 10px 0;
    }
    
    .contact-form-section {
        flex-direction: column;
    }
    .contact-form-section form,
    .contact-form-section .google-map {
        width: 100%;
        margin: 0 auto;
    }
    .contact-form-section .google-map {
        margin-top: 20px;
        height: 300px;
    }
}
